
body{
  font-family: 'Ubuntu', sans-serif;;
  margin: 10px;
  padding: 10px;
  background-image: url('../images/background_img.png');
  background-size: auto;
  display: grid;
  grid-template-columns: 1fr;
}

nav a{
  font-size: 30px;
  line-height: 2;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  background-color: yellow;
  color: blue;
  text-decoration: underline;
  text-decoration-style: wavy;
}

.current{
  text-decoration: underline;
  background-color: rgb(224, 224, 224);
}

h1{
  font-size: 56px;
  color: #128ded;
  font-weight: bold;
  text-align: center;
  min-height: 75px;
}

h2{
  font-size: 48px;
  color: #128ded;
  font-weight: bold;
  text-align: center;
  min-height: 60px;
}


p{
  font-size: 14pt;
  line-height: 1.5;
  padding: 0 10px;
}

a{
  color: #D10000;
  font-style: italics;
  text-decoration: underline;
}


a:hover{
  color: white;
  background-color: black;
}

img{
  width: 500px;
  padding: 10px;
  margin: 5px;
  border: 5px solid rgb(184, 184, 184);
}

main > image{
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

img:hover{
  animation: zoom-in-zoom-out 0.5s 1 alternate forwards;
}

@keyframes zoom-in-zoom-out {
  0% {
    border: 5px solid rgb(184, 184, 184);
    padding: 10px;
    transform: scale(1, 1);
  }
  100% {
    border: 10px solid #128ded;
    padding: 5px;
    transform: scale(1.1, 1.1);
  }
}

ul{
  background-color: white;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  color: grey;
  background-color: white;
  opacity: 50%;
}
footer > p{
  font-size: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img{
  width: 80%;
}

.divImg{
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}


@media (prefers-reduced-motion) {
  img:hover{
    border: 5px solid #128ded;
    animation: none;
  }
}